
.center {
    text-align: center;
}

.auth {
    margin-top: 10%;
}

body {
    background-color: #ECF0F1;
    background-image: url(../img/geometry.png);
}

.right {
    float: right;
    margin-left: 3px;
}

.index-btn {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}
